@import "tailwindcss";

label {
    @apply font-bold;
}

input {
    @apply px-1 py-1 rounded outline;
}

button {
    @apply cursor-pointer px-1 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400;
}

table {
    @apply border border-separate border-spacing-0 w-full table-fixed;
}

table input {
    @apply outline-0;
}

thead {
    @apply border sticky top-0;
}

th {
    @apply border bg-gray-400;
}

td {
    @apply border max-w-[300px] px-[16px] py-[4px];
}