---
import "../styles/global.css";
---

<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <script src="https://cdn.jsdelivr.net/npm/jspreadsheet-ce@4/dist/index.min.js" is:inline></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jspreadsheet-ce@4/dist/jspreadsheet.min.css" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/jsuites/dist/jsuites.min.js" is:inline></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsuites/dist/jsuites.min.css" type="text/css" />
        
		<title>Managing Board</title>
    </head>
    <body>
        <slot />
    </body>
</html>