---
---

<div>비밀번호를 변경하고 싶다면, 위에 "사번"/"이름"/현재의 "비밀번호"를 기입한 뒤, 원하는 비밀번호를 넣고 "비밀번호 변경하기"를 클릭하세요. 비밀번호를 잊어버렸다면 관리자에게 문의하시기 바랍니다.</div>
<div x-data class="flex whitespace-nowrap items-center gap-x-[8px]">
    <div >
        <label>원하는 비밀번호:</label>
        <input type="text" id="no" class="outline" />
    </div>
    <div>
        <button>비밀번호 변경하기</button>
    </div>
</div>

<script>
    document.addEventListener("alalpine:initialized", async () => {
        
    });

    async function change_password() {};
</script>