---
---

<div>"사번"/"이름"/"비밀번호"를 정확히 기입한 뒤, "비밀번호변경" 또는 "불러오기" 클릭이 정상 작동합니다. 초기 비밀번호는 사번입니다.</div>
<div x-data class="flex whitespace-nowrap items-center gap-x-[8px]">
    <div>
        <label>사번:</label>
        <input type="text" id="no" />
    </div>
    <div>
        <label>이름:</label>
        <input type="text" id="user" />
    </div>
    <div>
        <label>비밀번호:</label>
        <input type="text" id="pw" />
    </div>
</div>

<script>
    document.addEventListener("alalpine:initialized", async () => {
        
    });

    async function fetch_data() {};
    async function init_jspreadsheet() {};
    async function update_data() {};
</script>