<div class="w-full h-full flex flex-col">
    <div>"불러오기" 클릭해서, 담당하시는 거래처를 불러오시기 바랍니다. 상태를 수정한 뒤, "업데이트"를 클릭하면 거래처 상태가 수정반영됩니다.</div>
    <div x-data>
        <button>불러오기</button>
        <button>업데이트</button>
    </div>
    <div class="flex-[1_0_0]">
        <div class="h-full w-full overflow-y-scroll">
            <div id="jspreadsheet"></div>
        </div>
    </div>
</div>


