---
// import 'jspreadsheet-ce/dist/jspreadsheet.css';
// import 'jsuites/dist/jsuites.css';
---

<div class="w-full h-full flex flex-col">
    <div>"불러오기" 클릭해서, 담당하시는 거래처를 불러오시기 바랍니다. 상태를 수정한 뒤, 반드시 "업데이트"를 클릭해야 거래처 상태가 수정반영됩니다.</div>
    <div x-data>
        <button @click="$store.functions.getStatus();">불러오기</button>
        <button @click="$store.functions.updateStatus();">업데이트</button>
    </div>
    <div class="flex-[1_0_0] overflow-auto m-[4px]">
        <div class="h-full w-full">
            <div id="jspreadsheet"></div>
        </div>
    </div>
</div>

<script>
    // import jspreadsheet from 'jspreadsheet-ce';

    document.addEventListener("alpine:initialized", async () => {

        Alpine.store("functions").getStatus = async () => {
            console.log("getStatus 호출");

            const no = Alpine.store("global").no.trim();
            const name = Alpine.store("global").name.trim();
            const pw = Alpine.store("global").pw.trim();

            if (no === "" || name === "" || pw === "") {
                alert("사번/이름/비밀번호 모두 입력하세요.");
                return;
            }

            Alpine.store("tags").loading.style.display = "flex";
            const res = await fetch(Alpine.store("global").url, {
                method: "POST",
                body: JSON.stringify({
                    action: "getStatus",
                    no,
                    name,
                    pw,
                }),
            });
            const result = await res.json();
            Alpine.store("tags").loading.style.display = "none";
            
            alert(result.message);
            if (result.status !== "ok") return;



            // 스프레드시트 불러오기
            const ss = Alpine.store("tags").jspreadsheet;
            ss.innerHTML = "";

            const table = document.createElement("table");
            const thead = document.createElement("thead");
            const tbody = document.createElement("tbody");

            result.data.forEach((row, i, arr) => {
                if (i === 0) {
                    return;
                } else if (i === 1) {
                    const tr = document.createElement("tr");
                    row.forEach((x) => {
                        const th = document.createElement("th");
                        th.textContent = x;
                        tr.appendChild(th);
                    });
                    thead.appendChild(tr);
                    table.appendChild(thead);
                } else {
                    const tr = document.createElement("tr");
                    row.forEach((x, i) => {
                        const td = document.createElement("td");
                        if (i < 4) {
                            td.textContent = x;
                        } else {
                            if (arr[0][i] === "checkbox") {
                                const input = document.createElement("input");
                                input.type = "checkbox";
                                input.checked = (x === "O") ? true : false;
                                input.style.cursor = "pointer";
                                td.appendChild(input);
                                td.style.cursor = "pointer";
                                td.addEventListener("click", (e) => {
                                    if (e.target.tagName.toLowerCase() === "input") return;    
                                    const checkbox = td.querySelector("input[type='checkbox']");
                                    if (checkbox) checkbox.checked = !checkbox.checked;
                                });
                            } else {
                                td.contentEditable = "true";
                                td.textContent = x;
                            }
                        }
                        tr.appendChild(td);
                    });
                    tbody.appendChild(tr);
                }
            });
            table.appendChild(tbody);
            ss.appendChild(table);

            
            
        };


        Alpine.store("functions").updateStatus = async () => {
            console.log("updateStatus 호출");
            const ss = Alpine.store("tags").jspreadsheet;
            
            if (ss.innerHTML === "") {
                alert("불러오기를 먼저 실행해주세요.");
                return;
            }

            const no = Alpine.store("global").no.trim();
            const name = Alpine.store("global").name.trim();
            const pw = Alpine.store("global").pw.trim();

            if (no === "" || name === "" || pw === "") {
                alert("사번/이름/비밀번호 모두 입력하세요.");
                return;
            }

            let data = [];
            const tr = document.querySelectorAll("tr");
            
            if (tr.length < 2) {
                alert("업데이트 할 내용이 없습니다.");
                return;
            }

            for (let i = 1; i < tr.length; i++) {
                const td = tr[i].querySelectorAll("td");
                
                let tmp = [td[0].textContent, td[1].textContent, td[2].textContent, td[3].textContent];
                for (let j = 4; j < td.length; j++) {



                    if (td[j].firstChild?.tagName?.toLowerCase() === "input") {
                        tmp.push((td[j].firstChild.checked) ? "O" : "X");
                    } else {
                        tmp.push(td[j].textContent);
                    }
                    
                }

                data.push(tmp);
            }


            Alpine.store("tags").loading.style.display = "flex";
            const res = await fetch(Alpine.store("global").url, {
                method: "POST",
                body: JSON.stringify({
                    action: "updateStatus",
                    no,
                    name,
                    pw,
                    data,
                }),
            });
            const result = await res.json();
            Alpine.store("tags").loading.style.display = "none";
            
            alert(result.message);

        };
    });
</script>
